@import '@styles/theme.module.scss';

.root {
    display: flex;
    flex-direction: row;
    padding-left: 3em;
    justify-content: space-between;
    padding-right: 3.5em;
    align-items: center;
    font: $button-font;
    height: 6em;

    @media only screen and (max-width: $mobile-width) {
        padding: 0 3em;
    }
}

.menu {
    display: flex;
    column-gap: 2rem;
    font: $button-font;
}

.active.navLink {
    // color: $primary-content;
    font-weight: 600;
    color: $copy;
    // text-shadow: text-shadow($primary-dark);
    filter: text-shadow-filter($primary-dark, 1, 4);

    &:hover {
        scale: 1.2;
    }
}

.inactive.navLink {
    overflow: visible;
    &:hover {
        scale: 1.2;
        // text-shadow: text-shadow($secondary-dark, 1);
        filter: text-shadow-filter($secondary-dark, 1, 4);

    }
}

.img1 {
    width: 56px;
    filter:
    drop-shadow(0px 0px 1px $copy) drop-shadow(0px 0px 1px $copy) drop-shadow(0px 0px 1px $copy)
    drop-shadow(0 0 5px rgb(from $primary r g b / 0%)) drop-shadow(0 0 10px rgb(from $primary-dark r g b / 0%)) drop-shadow(0 0 15px rgb(from $primary-dark r g b / 0%));
    transition: all 0.6s ease-out;
    transition-property: all;

    &:hover{
    // Make sure to have the same amount of drop shadows as the original filter, or else there will be black blur
    scale: 1.3;
    filter:
    drop-shadow(0px 0px 1px $copy) drop-shadow(0px 0px 1px $copy) drop-shadow(0px 0px 1px $copy)
    drop-shadow(0 0 5px rgb(from $primary r g b / 40%)) drop-shadow(0 0 10px rgb(from $primary-dark r g b / 60%)) drop-shadow(0 0 15px rgb(from $primary-dark r g b / 80%));

    }
}

.navLink {
    color: $copy;
    transition: all 0.6s ease-out;
}
